<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let product">
      <mat-slide-toggle
        [checked]="product.status === ProductStatus.ACTIVE"
        (change)="toggleStatus(product, $event.checked)">
      </mat-slide-toggle>
    </td>
  </ng-container>

  <ng-container matColumnDef="createdTime">
    <th mat-header-cell *matHeaderCellDef> Created Time </th>
    <td mat-cell *matCellDef="let element"> {{element.createdTime | customDate}} </td>
  </ng-container>

  <ng-container matColumnDef="updatedTime">
    <th mat-header-cell *matHeaderCellDef> Updated Time </th>
    <td mat-cell *matCellDef="let element"> {{element.updatedTime | customDate}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="edit product" (click)="editProduct(element); $event.stopPropagation()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button aria-label="delete product" (click)="deleteProduct(element); $event.stopPropagation()">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
      class="example-element-row"
      [ngClass]="{'inactive-row': element.status === 'inactive'}"
      [class.example-expanded-row]="expandedElement === element">
  </tr>
</table>